<div class="ui search" [ngClass]="{loading: isLoading}">
    <div class="ui icon input">
        <input (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt" type="text" placeholder="Search..."/>
        <i class="search icon"></i>
    </div>

    <div class="results transition" [ngClass]="{ visible: foundBooks.length }">
        <a href (click)="bookSelected.emit(book); false" class="result" *ngFor="let book of foundBooks">
            <div class="content">
                <div class="title">{{ book.title }}</div>
            </div>
        </a>
    </div>
</div>