<div class="ui container middle aligned selection divided list">
    <div class="ui grid">
        <div class="sixteen wide column right aligned content">
            <h1>My Orders</h1>
        </div>
    </div>

    <div class="ui divider h1-divider"></div>

    <div class="ui grid content">
        <div class="four wide column">Order</div>
        <div class="four wide column">Date</div>
        <div class="four wide column right aligned">Price</div>
        <div class="four wide column right aligned">Status</div>
    </div>
    <a class="bs-order-list-item item"
       *ngFor="let order of orders"
       [order]="order"
       [routerLink]="['/myorder/', order.id]">
    </a>
</div>