<div class="ui container">
    <div class="ui grid" *ngIf="book">
        <div class="four wide column">
            <img class="ui large image" *ngIf="book.images && book.images[0]"
                 [src]="book.images[0].url">
        </div>
        <div class="twelve wide column">
            <h1 class="ui header">{{book.title}}</h1>
            <h3 class="ui header">{{book.subtitle}}</h3>
            <div class="ui divider"></div>

            <div class="ui grid book-details" *ngIf="!authService.isLoggedIn() || !authService.isAdmin()">
                <div class="ten wide column">
                    <div class="ui grid">
                        <div class="ten wide column">
                            <h4 class="ui header">Authors</h4>
                            <span *ngFor="let author of book.authors; last as l">
                                {{author.firstname}} {{author.lastname}}<span *ngIf="!l">, <br/></span>
                            </span>
                        </div>
                        <div class="six wide column">
                            <h4 class="ui header">ISBN</h4>
                            {{book.isbn}}
                        </div>
                        <div class="ten wide column">
                            <h4 class="ui header">Rating</h4>
                            <i *ngFor="let r of getRating(book.rating)" class="yellow star icon"></i>
                            <i *ngFor="let r of getRating(((10 - book.rating)))" class="yellow star outline icon"></i>
                        </div>
                        <div class="six wide column">
                            <h4 class="ui header">Published</h4>
                            {{book.published | date:'dd.MM.yyyy'}}
                        </div>
                    </div>
                </div>

                <div class="six wide column center aligned middle aligned">
                    <span class="price">
                        {{book.price_net | currency:'EUR':'€'}}
                    </span>
                </div>
            </div>

            <div class="ui grid book-details" *ngIf="authService.isAdmin()">
                <div class="six wide column">
                    <h4 class="ui header">Authors</h4>
                    <span *ngFor="let author of book.authors; last as l">
                        {{author.firstname}} {{author.lastname}}<span *ngIf="!l">, <br/></span>
                    </span>
                </div>
                <div class="six wide column">
                    <h4 class="ui header">ISBN</h4>
                    {{book.isbn}}
                </div>
                <div class="four wide column">
                    <h4 class="ui header">Published</h4>
                    {{book.published | date:'dd.MM.yyyy'}}
                </div>
                <div class="six wide column">
                    <h4 class="ui header">Rating</h4>
                    <i *ngFor="let r of getRating(book.rating)" class="yellow star icon"></i>
                    <i *ngFor="let r of getRating(((10 - book.rating)))" class="yellow star outline icon"></i>
                </div>
                <div class="six wide column">
                    <h4 class="ui header">Price net</h4>
                    {{book.price_net | currency:'EUR':'€'}}
                </div>
                <div class="four wide column">
                    <h4 class="ui header">Price gross</h4>
                    {{((book.price_net * 1.1 | currency:'EUR':'€'))}}
                </div>
            </div>

            <div class="sixteen wide column" *ngIf="book.description">
                <h3 class="ui header">Description</h3>
                {{book.description}}
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui small images">
                <img *ngFor="let thumbnail of book.images" [src]="thumbnail.url">
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="eight wide column">
            <button [routerLink]="['/books']" class="ui blue labeled icon button">
                <i class="arrow left icon"></i>
                back to book list
            </button>
        </div>
        <div class="eight wide column right aligned content">
            <button (click)="addBookToShoppingCart()"
                    [routerLink]="['/shoppingcart']"
                    *ngIf="!authService.isAdmin()"
                    class="ui blue right labeled icon button">
                add to shopping cart
                <i class="arrow right icon"></i>
            </button>
        </div>
    </div>
    <div class="ui grid">
        <div class="sixteen wide column">
            <button *ngIf="authService.isLoggedIn() && authService.isAdmin()" (click)="deleteBook()"
                    class="ui tiny red labeled icon button">
                <i class="remove icon"></i>
                delete book
            </button>
            <button *ngIf="authService.isLoggedIn() && authService.isAdmin()" [routerLink]="['../../newbook', book?.isbn]"
                    class="ui tiny yellow labeled icon button">
                <i class="edit icon"></i>
                edit book
            </button>
        </div>
    </div>
</div>