<div class="ui grid book-list-item">
    <div class="two wide column image-container">
        <img class="ui image" *ngIf="book?.images[0]" [src]="book?.images[0]?.url">
    </div>
    <div class="twelve wide column middle aligned content">
        <div class="content">
            <div class="ui header">{{book.title}}</div>
            <div class="description">{{book.subtitle}}</div>
            <div class="metadata">
                by
                <span *ngFor="let author of book.authors; last as l">
                  {{author.firstname}} {{author.lastname}}
                  <span *ngIf="!l">,</span>
              </span>
            </div>
            <div class="published">Came out {{book.published | date:'dd.MM.yyyy'}}</div>
            <div class="rating">
                <i *ngFor="let r of getRating(book.rating)" class="yellow star icon"></i>
                <i *ngFor="let r of getRating(((10 - book.rating)))" class="yellow star outline icon"></i>
            </div>
        </div>
    </div>
    <div class="two wide column middle aligned">
        <div class="price">{{((book.price_net * 1.1 | currency:'EUR':'€'))}}</div>
    </div>
</div>