<div class="ui grid content">
    <div class="four wide column">#{{order.user_id}} [{{order.user.firstname}} {{order.user.lastname}}]</div>
    <div class="three wide column">#{{order.id}}</div>
    <div class="three wide column date">{{order.date | date:'dd.MM.yyyy | HH:mm':'+120'}}</div>
    <div class="two wide column right aligned price_net">{{order.price_total_net | currency:'EUR':'€'}}</div>
    <div class="two wide column right aligned price_gross">{{order.price_total_gross | currency:'EUR':'€'}}</div>
    <div class="two wide column right aligned status">
        <span *ngFor="let status of order.statuses; last as l">
            <span *ngIf="l">{{status.status}}</span>
        </span>
    </div>
</div>