<div class="ui container middle aligned selection divided list" *ngIf="authService.isAdmin()">
    <div class="ui grid">
        <div class="sixteen wide column right aligned content">
            <h1>Orders</h1>
        </div>
    </div>

    <div class="ui divider h1-divider"></div>

    <div class="ui grid content">
        <div class="four wide column">User</div>
        <div class="three wide column">Order</div>
        <div class="three wide column">Date</div>
        <div class="two wide column right aligned">Price net</div>
        <div class="two wide column right aligned">Price gross</div>
        <div class="two wide column right aligned">Status</div>
    </div>

    <a class="bs-order-admin-item item"
       *ngFor="let order of orders"
       [order]="order"
       [routerLink]="['/myorder/', order.id]">
    </a>
</div>